.box {
    padding: 1rem 7rem;
    width: 85%;
}
.wizard-wrapper{
        width: 94%;
        margin: 7rem auto 00;
}

mat-toolbar mat-form-field{width: 75px;}
mat-select{color: #fff;}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
    font-family:GothamBook;
    font-size:.875rem;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }