<div fxFlex="15%" class="sidenavBar">
<mat-list role="list">
    <div class="logo_wrap"><a href="#" class="logo"><img src="assets/images/oie_2172239HrxCJT6a.png" alt="image" width="70%" height="100%"></a></div>
    <mat-list-item role="listitem"><span class="awesome_icon">
        <i class="fa fa-bar-chart" aria-hidden="true"></i></span>Supplier</mat-list-item>
    <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-file-text" aria-hidden="true"></i></span>Reports</mat-list-item>
    <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-cogs" aria-hidden="true"></i></span>Configuration</mat-list-item>
    <mat-list-item role="listitem">
      <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>Country</mat-list-item>
      <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>Region
    </mat-list-item>
    <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>Branch
    </mat-list-item>
    <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>Product Category
    </mat-list-item>
    <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>Product Group
    </mat-list-item>
    <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>Product Subgroup
    </mat-list-item>
    
    <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>Living Wage
    </mat-list-item>
    <mat-list-item role="listitem"  class="activemenu">
        <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>User List
    </mat-list-item>
    <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>Supplier List
    </mat-list-item>
    <mat-list-item role="listitem">
        <span class="awesome_icon"><i class="fa fa-globe" aria-hidden="true"></i></span>Validation
    </mat-list-item>
  </mat-list>
  </div>