

<div fxLayout fxLayout.xs="column">
<app-sidenav></app-sidenav>
    <div fxFlex="85%" class="innerPage">
        <app-header></app-header>
        <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Basic Information</ng-template>
                    <mat-card-content>
                        <div fxLayout fxLayout.xs="column" class="loginInput">
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Facility Name</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="4%"></div>
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                        </div>
                        <div fxLayout fxLayout.xs="column" class="loginInput">
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Facility Country</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="4%"></div>
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Facility Location</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                        </div>
                        <div fxLayout fxLayout.xs="column" class="loginInput">
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Facility Region</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="4%"></div>
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Area Of Production</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                        </div>
                        <div fxLayout fxLayout.xs="column" class="loginInput">
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Salary Matrix Manager</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="4%"></div>
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                        </div>

                    </mat-card-content>
                    <div class="wizardNext">
                        <button mat-button matStepperNext class="matStepperNext">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Product Information</ng-template>

                    <mat-card-content>
                        <mat-header class="info">Season Information</mat-header>
                        <div fxLayout fxLayout.xs="column" class="loginInput">
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Product</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="4%"></div>
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Varieties or Types grown</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                        </div>
                        <div fxLayout fxLayout.xs="column" class="loginInput">
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Unit of Production</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="4%"></div>
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Total Annual Production</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                        </div>
                        <div fxLayout fxLayout.xs="column" class="loginInput">
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Certification and Standards</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="4%"></div>
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Year of Data Collection</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                        </div>
                        <div fxLayout fxLayout.xs="column" class="loginInput">
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Number Of Production Season </mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="4%"></div>
                            <div fxFlex="48%">
                            </div>

                        </div>

                        <mat-header class="info">Season Information</mat-header>

                        <div fxLayout fxLayout.xs="column" class="loginInput">
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">

                                    <mat-label>Select Unit for Definig Season length</mat-label>
                                    <mat-select name="seasonlengthin">
                                        <mat-option value="Weeks"> Weeks</mat-option>
                                        <mat-option value="Months"> Months</mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                            <div fxFlex="4%"></div>
                            <div fxFlex="48%">
                                <mat-form-field appearance="outline">
                                    <mat-label>No Of Weeks or Months</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                        </div>

                    </mat-card-content>
                    <div class="wizardNext">
                        <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
                        <button mat-button matStepperNext class="matStepperNext">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>HR Information</ng-template>
                    <mat-card-content>
                        <div fxLayout fxLayout.xs="column" class="loginInput">

                                <div fxFlex="15%">
                                    <div class="workArea">WorkArea</div>
                                    <div class="jobCategory">Job Category</div>
                                </div>
                                <div fxFlex="26%">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Men</mat-label>
                                        <input matInput type="text">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="3%"></div>
                                <div fxFlex="26%">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Women</mat-label>
                                        <input matInput type="text">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="3%"></div>
                                <div fxFlex="26%">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Total</mat-label>
                                        <input matInput type="text" readonly>
                                    </mat-form-field>
                                </div>


                        </div>


                        <div fxLayout fxLayout.xs="column" class="loginInput">

                            <div fxFlex="15%">
                                <div class="jobCategory2">Job Category</div>
                            </div>
                            <div fxFlex="26%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Men</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="3%"></div>
                            <div fxFlex="26%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Women</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="3%"></div>
                            <div fxFlex="26%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Total</mat-label>
                                    <input matInput type="text" readonly>
                                </mat-form-field>
                            </div>


                    </div>

                    <div fxLayout fxLayout.xs="column" class="loginInput">

                        <div fxFlex="15%">
                            <div class="workArea">WorkArea</div>
                            <div class="jobCategory">Job Category</div>
                        </div>
                        <div fxFlex="26%">
                            <mat-form-field appearance="outline">
                                <mat-label>Men</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div fxFlex="3%"></div>
                        <div fxFlex="26%">
                            <mat-form-field appearance="outline">
                                <mat-label>Women</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div fxFlex="3%"></div>
                        <div fxFlex="26%">
                            <mat-form-field appearance="outline">
                                <mat-label>Total</mat-label>
                                <input matInput type="text" readonly>
                            </mat-form-field>
                        </div>


                </div>


                <div fxLayout fxLayout.xs="column" class="loginInput">

                    <div fxFlex="15%">
                        <div class="jobCategory2">Job Category</div>
                    </div>
                    <div fxFlex="26%">
                        <mat-form-field appearance="outline">
                            <mat-label>Men</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>
                    <div fxFlex="3%"></div>
                    <div fxFlex="26%">
                        <mat-form-field appearance="outline">
                            <mat-label>Women</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>
                    <div fxFlex="3%"></div>
                    <div fxFlex="26%">
                        <mat-form-field appearance="outline">
                            <mat-label>Total</mat-label>
                            <input matInput type="text" readonly>
                        </mat-form-field>
                    </div>


            </div>
                    

                    </mat-card-content>
                    <div class="wizardNext">
                        <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
                        <button mat-button matStepperNext class="matStepperNext">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup">
                <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>Wages Information</ng-template>

                    <mat-card-content>
                        <div fxLayout fxLayout.xs="column" class="loginInput">

                            <div fxFlex="15%">
                                <div class="workArea">Workers</div>
                                <div class="jobCategory">Job Category</div>
                            </div>
                            <div fxFlex="26%">
                                <mat-form-field appearance="outline">
                                    <mat-label>No. of Men</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="3%"></div>
                            <div fxFlex="26%">
                                <mat-form-field appearance="outline">
                                    <mat-label>No. of Women</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>
                            <div fxFlex="3%"></div>
                            <div fxFlex="26%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Total Workers</mat-label>
                                    <input matInput type="text" readonly>
                                </mat-form-field>
                            </div>


                    </div>
                    <div fxLayout fxLayout.xs="column" class="loginInput">

                        <div fxFlex="15%">
                            <div class="workArea">Workers</div>
                            <div class="jobCategory">Job Category</div>
                        </div>
                        <div fxFlex="26%">
                            <mat-form-field appearance="outline">
                                <mat-label>No. of Men</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div fxFlex="3%"></div>
                        <div fxFlex="26%">
                            <mat-form-field appearance="outline">
                                <mat-label>No. of Women</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div fxFlex="3%"></div>
                        <div fxFlex="26%">
                            <mat-form-field appearance="outline">
                                <mat-label>Total Workers</mat-label>
                                <input matInput type="text" readonly>
                            </mat-form-field>
                        </div>


                </div>

                    </mat-card-content>
                    <div class="wizardNext">
                        <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
                        <button mat-button matStepperNext class="matStepperNext">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup">
                <form [formGroup]="fifthFormGroup">
                    <ng-template matStepLabel>In-kind Benefits</ng-template>
                    <mat-card-content>
                        <div fxLayout fxLayout.xs="column">
                        <div class="inkindRow" fxFlex="48%">
                            <div class="inkind-Title">
                                Food
                            </div>
                            <div class="inkindLabel">
                                <mat-form-field>
                                    <mat-label>Workers receive food</mat-label>
                                    <mat-select>
                                      <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="4%"></div>
                        <div class="inkindRow" fxFlex="48%">
                            <div class="inkind-Title">
                                Transportation
                            </div>
                            <div class="inkindLabel">
                                <mat-form-field>
                                    <mat-label>Workers receive Transportation</mat-label>
                                    <mat-select>
                                      <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                       
                    <div fxLayout fxLayout.xs="column">
                        <div class="inkindRow" fxFlex="48%">
                            <div class="inkind-Title">
                                Housing
                            </div>
                            <div class="inkindLabel">
                                <mat-form-field>
                                    <mat-label>Workers receive housing</mat-label>
                                    <mat-select>
                                      <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="4%"></div>
                        <div class="inkindRow" fxFlex="48%">
                            <div class="inkind-Title">
                                Healthcare
                            </div>
                            <div class="inkindLabel">
                                <mat-form-field>
                                    <mat-label>Workers receive healthcare</mat-label>
                                    <mat-select>
                                      <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>


                    </mat-card-content>
                    <div class="wizardNext">
                        <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
                        <button mat-button matStepperNext class="matStepperNext">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>In-kind Benefits 2</ng-template>
                <div fxLayout fxLayout.xs="column" class="loginInput">
                    <div fxFlex="48%">
                        <mat-form-field appearance="outline">
                            <mat-label>Value per worker per month </mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>
                    <div fxFlex="4%"></div>
                    <div fxFlex="48%">
                        <mat-form-field appearance="outline">
                            <mat-label>Cost per worker per month </mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>

                </div>
                <div class="wizardNext">
                    <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
                    <button mat-button class="matStepperNext" (click)="stepper.reset()">Submit</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>