/*@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';*/
@font-face{
    font-family: GothamBook;
    src: url(assets/fonts/GothamBook.ttf) ;
}
@font-face{
    font-family: GothamMedium;
    src: url(assets/fonts/GothamMedium.ttf) ;
}
html,body{height:100%;margin:0;padding:0;}
body{font-family:GothamBook !important;}
.app-header{
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 15%;
  right: 0;
  z-index: 2;
 /* box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);*/
  background-color: #0081e0;
  width: 85% !important;
  float: right;}
/*.login-wrapper{background:linear-gradient(0deg, rgba(0, 126, 255, 0.3), rgba(63, 0, 255, 0.3)),url(assets/images/bg.jpg);background-position:center;background-size:cover;background-repeat:no-repeat;height: 100%;}
*/
/*------------------New Design Changes------------------*/
.login-wrapper{width: 100%;
    margin: 0 auto;
    height: 100%;}
.loginImage img{     width: 55%;
    display: flex;
    place-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
    .mat-form-field-appearance-outline:hover .mat-form-field-outline:hover{color:#d3d3d3 !important}
.loginImage{width: 42%;
    height: 100%;
    background-image:url('assets/images/bg.png');
    box-shadow: 3px 2px 20px 6px rgba(36, 77, 162, 0.15);
    position: relative;
   }
.box{padding: 1rem 7rem;
    width: 42%;}

body .mat-form-field{font-family:GothamBook !important;}
.login-wrapper .CaptchaInput1, .login-wrapper .CaptchaInput2{text-align: center;
    color: #8a8a8a;
    font-weight: 600;
    /* line-height: 10px; */
    padding: 0;
    margin: 0;}
.loginInput .mat-form-field-appearance-outline .mat-form-field-outline,
.loginInput .mat-form-field-infix,
.loginInput .mat-form-field{    width: 100%;
    
    letter-spacing: 0.35px;
 }
    
    .mat-form-field-empty.mat-form-field-label {
        display: block;    
    }
    .logintext{padding-bottom: 2rem;
        display: block;
        text-transform: capitalize;
        color: #0071c4;}
        .newUser p{text-align: center;
            color: #333;
            font-weight: 400;
            letter-spacing: 0.25px;}
            .newUser a{font-weight: 600;
                padding-left: 0.75rem;
                color: #0072c6;}
                .aboutTool .custom-card{width: 90%;
                  background: #e1edff;
                  padding: 1.75rem 1.75rem;
                  color: #000;
                  margin: 0rem auto 2.5rem;
                  line-height: 1.35rem;}
                .wid25p{width:25%}
                .wid50p{width:50%}
                .lang .mat-select-value-text{letter-spacing: 0.75px; font-size: 0.875rem;}
                .help{color: #fff;
                    top: 1.15rem;
                    position: relative;}
                    .SalaryMatrix_tbl{margin:0 auto;}

                    .mat-toolbar .mat-form-field{width: 75px;}
                    .mat-select{color: #fff;}
                    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
                      background-color:#0072c6 !important;
                    }

                    /*---------Global Table Design--------*/
                    
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
  font-family:GothamBook;
  font-size:.875rem;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
                    /*----------Global Table Design End---------------*/
/*----------------New Design Changes End-----------------*/

.logo{text-decoration:none;color:#ffffff;}
/*.box{position:relative;top:0;opacity:1;float:left;padding:15px 50px 40px 50px;width:100%;background:#fff;border-radius:10px;transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;max-width:330px;}*/
.box.back{transform:scale(.95);-webkit-transform:scale(.95);-ms-transform:scale(.95);top:-20px;opacity:.8;z-index:-1;}
.box:before{content:"";width:100%;height:30px;border-radius:10px;position:absolute;top:-10px;background:rgba(255, 255, 255, .6);left:0;transform:scale(.95);-webkit-transform:scale(.95);-ms-transform:scale(.95);z-index:-1;}
.login-wrapper .example-form{min-width:100%;max-width:300px;width:100%;}
.login-wrapper .example-full-width,.login-wrapper .btn-block{width:100%;}
.login-wrapper mat-card-header{width:100%;display:block;font-weight:700;}
.login-wrapper mat-card-header mat-label{font-size: 25px;font-weight: 700;float: right;position: relative;top: -40px;color:#0072c6}
.login-wrapper mat-card-header div{border-bottom: 2px solid #0072c6;}
.login-wrapper mat-card-header mat-card-title{font-size:30px;margin:0;}
.login-wrapper .mat-card{padding:40px 70px 50px;}
.topBtn{position: relative; top:-1rem}
.SalaryMatrix_tbl .text-right{text-align:right !important; float:right}
.SalaryMatrix_tbl .newMtx{background:#0072c6;}
.profileImage img{width: 40px;
    border-radius: 100%;
    border: 1px solid #0072c6;}
    .profileImage{width:auto;float:left}
    .sidenavBar .activemenu{background: #142e54 !important;}
    .sidenavBar{background: #0072c6;
      /* top: 4rem; */
      position: relative;
      height: calc(100vh);
      position: fixed;
      width: 15%;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);}
        .datadashboard{width:100%}
        .innerPage{position: relative;top:2rem;left:15%}
        tr.mat-header-row{background: #0081e0;}
        /*.sidenavBar .mat-list-base{margin-top: 3.75rem;}*/
    .sidenavBar .mat-list-item{color: #fff;
      font-size: 0.8rem;
      font-family: GothamMedium;
      font-weight: 500;
      text-shadow: none;
      letter-spacing: 0.75px;}
      .sidenavToggle{color: #fff;
        font-size: 1.5rem;
        text-align: right;
        display: inline-block;
        float: right;
        margin-right: 1.75rem;
        line-height: 75px;}
        .mat-elevation-z8{box-shadow:none;border:1px solid #d3d3d3 !important;}
        .logo img{width: 175px;
          margin-top: 0px;
          padding: 0.2rem 0.75rem 0.27rem;
          margin: 0 auto;
          display: inline-block;
          float: none;}
      .awesome_icon{padding:0px 10px 0px 0px}
    .profileName{ width: auto;
      float: left;
      color: #fff;
      font-size: 0.875rem;
      font-weight: 500;
      top: 0.25rem;
      position: relative;
      left: 0.75rem;}
.viewMore{padding: 1rem 2rem;
    text-align: right;}
    .viewMore a{color: #0072c6;
        text-decoration: none;
        font-weight: 600;}
td[_ngcontent-lks-c146], th[_ngcontent-lks-c146]{width:20% !important;}
.dnone{display:none !important;}
.login-wrapper .mat-raised-button.primary{line-height:40px;background:#0072c6;color: #fff;font-size: 1rem;
    letter-spacing: 0.75px;}
    .primary{line-height:40px;background:#0072c6;color: #fff;font-size: 1rem;
        letter-spacing: 0.75px;}
        .basic{line-height:40px;background:#fff;color: rgb(100, 100, 100);font-size: 1rem;
            letter-spacing: 0.75px;}
    .login-wrapper .mat-raised-button.basic{line-height:40px;background:#fff;color: rgb(100, 100, 100);font-size: 1rem;
        letter-spacing: 0.75px;}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}
.symbols{position: relative;
    top: 20px;
    font-size: 1.35rem;
    color: #7b7b7b;}
.fgpass{    position: relative;
     top: 0.75rem;
    color: #0072c6;
    font-weight: 600;
    text-decoration: none;}
    .floatRight{float:right}

.login-wrapper .mat-stroked-button:hover{background: #59819e}
.newUser{margin-top:2.75rem;padding-top:1rem;}
.newUser a{text-decoration: none;font-weight: 400;}
.nav-tool-items a{text-decoration: none;}
.logoutBtn{    color: #fff;
  padding: 8px;
  border-radius: 100%;
  position: relative;
  top: 0.67rem;
  text-decoration: none;
  font-size: 0.875rem;}
    .newMatrixBtn{position: relative;
        top: 0.55rem;}
        .notificationIcon{color: #fff;
          top: 0.95rem;
          position: relative;font-size:1.15rem}
.logoutBtn mat-icon{position: relative;top: 5px;}
.homePage{position: relative;
  top: 2rem;
  left: 15%;}
.wid15p{width: 15%;}
.wid40p{width:40%}
.app-header .mat-form-field-underline{background-color:#fff!important;}
.app-footer{justify-content:space-between;position:fixed;bottom:0;left:0;right:0;z-index:2;box-shadow:0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);background-color: #0072c6;color: #fff;font-weight: 400;font-size: 1rem;}
.wd100{width: 100%;}
.dashboard-wrapper{width: 100%;
    margin: 4rem auto 00;}
.custom-card {width: 90%;padding: 10px;margin: 10px 0px;border-radius: 10px;text-align: justify;}
.custom-card h3{    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0px;
    color: #0072c6;}
    .custom-card .mat-icon{position: relative; top:7px;}
.blcolorbx{background: rgba(161, 222, 251, 0.94);color: #000;}
.grcolorbx{background: rgba(176, 232, 133, 0.9);color: #000;}
.greycolorbx{background: rgba(186, 202, 175, 0.9);color:#000;}
.fontawesome_icon{padding:0px 5px 0px 0px}
.saveBtn{background:#36ab40 !important}
table th.mat-header-cell{color: #fff;
  font-weight: 600;}
  .mat-stepper-horizontal{padding-top:3.5rem !important;}
.font2rem{font-size: 1.5rem!important;}
.refreshBtn{cursor: pointer;}
.refreshBtn:hover{color: grey;}
/*------Custom Scroll Bar------*/
/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background:#202020; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background:#202020; 
}
/*-------------Custom Scroll Bar---------*/
/*----Toggle Css----*/
.toggleSwitch span span {
    display: none;
  }
  
  @media only screen {
    .toggleSwitch {
        display: inline-block;
        height: 18px;
        position: relative;
        overflow: visible;
        padding: 0;
        margin-left: 5px;
        cursor: pointer;
        width: 90px;
        top:10px;
    }
    .toggleSwitch * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .toggleSwitch label,
    .toggleSwitch > span {
      line-height: 20px;
      height: 20px;
      vertical-align: middle;
    }
    .toggleSwitch input:focus ~ a,
    .toggleSwitch input:focus + label {
      outline: none;
    }
    .toggleSwitch label {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%;
    }
    .toggleSwitch input {
      position: absolute;
      opacity: 0;
      z-index: 5;
    }
    .toggleSwitch > span {
      position: absolute;
      left: -50px;
      width: 100%;
      margin: 0;
      padding-right: 100px;
      text-align: left;
      white-space: nowrap;
    }
    .toggleSwitch > span span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: block;
      width: 50%;
      margin-left: 50px;
      text-align: left;
      font-size: 0.98em;
      width: 100%;
      left: 15%;
      top: -1px;
      opacity: 0;
    }
    .toggleSwitch a {
      position: absolute;
      right: 50%;
      z-index: 4;
      display: block;
      height: 100%;
      padding: 0;
      left: 2px;
      width: 18px;
      background-color: #fff;
      border: 1px solid #CCC;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .toggleSwitch > span span:first-of-type {
      color: #555;
      opacity: 1;
      left: 45%;
    }
    .toggleSwitch > span:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50px;
      top: -2px;
      background-color: #fafafa;
      border: 1px solid #ccc;
      border-radius: 30px;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }
    .archiveBtn{background: #f64e60 !important;}
    .toggleSwitch input:checked ~ a {
      border-color: #fff;
      left: 100%;
      margin-left: -8px;
    }
    .toggleSwitch input:checked ~ span:before {
        border-color: #0072c6;
        box-shadow: inset 0 0 0 30px #0072c6;
    }
    .toggleSwitch input:checked ~ span span:first-of-type {
      opacity: 0;
    }
    .toggleSwitch input:checked ~ span span:last-of-type {
      opacity: 1;
      color: #fff;
    }
    /* Switch Sizes */
    .toggleSwitch.large {
      width: 60px;
      height: 27px;
    }
    .toggleSwitch.large a {
      width: 27px;
    }
    .toggleSwitch.large > span {
      height: 29px;
      line-height: 28px;
    }
    .toggleSwitch.large input:checked ~ a {
      left: 41px;
    }
    .toggleSwitch.large > span span {
      font-size: 1.1em;
    }
    .toggleSwitch.large > span span:first-of-type {
      left: 50%;
    }
    .toggleSwitch.xlarge {
      width: 80px;
      height: 36px;
    }
    .toggleSwitch.xlarge a {
      width: 36px;
    }
    .toggleSwitch.xlarge > span {
      height: 38px;
      line-height: 37px;
    }
    .toggleSwitch.xlarge input:checked ~ a {
      left: 52px;
    }
    .toggleSwitch.xlarge > span span {
      font-size: 1.4em;
    }
    .toggleSwitch.xlarge > span span:first-of-type {
      left: 50%;
    }
  }
  
  
  /*  End Toggle Switch  */